@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --theme: #f2f9fe;
  --white: #ffffff;
  --text: #223344;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  margin: 0;
  background-color: var(--theme);
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: var(--text);
}

.dark {
  color: var(--white);
}

.navbar {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  margin-bottom: 2rem;
}

.nav_links {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-weight: 700;
  padding: 0;
}

.Homepage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 8rem;
}

img {
  width: 50%;
  height: 50%;
}

.tagline-text {
  color: var(--text);
}

.primary-text {
  font-size: 6rem;
  margin: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--text);
}

.secondary-text {
  font-size: 1.6rem;
  color: #909193;
}

.action_buttons {
  margin-bottom: 4rem;
}

.btn {
  background-color: #2a4dd0;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  color: #fff;
  margin-right: 2rem;
  cursor: pointer;
}

.btn-link {
  text-decoration: underline;
  color: #2a4dd0;
  cursor: pointer;
}

.btn-link:visited {
  text-decoration: underline;
  color: #2a4dd0;
}

.tertiary-text {
  font-size: 1.4rem;
  margin-right: 1.2rem;
}

.right {
  display: flex;
  align-items: center;
}

.right-tick {
  fill: #4ca154;
}

/* switch css */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #223344;
}

input:focus + .slider {
  box-shadow: 0 0 1px #111729;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Tablet 1024px */

@media screen and (max-width: 1024px) {
  .Homepage {
    flex-direction: column-reverse;
  }

  .navbar {
    padding: 1rem 4rem;
  }

  img {
    width: 70%;
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.menu-slider {
  width: 35rem;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -40rem;
}
.slider-links {
  padding: 0;
}

.slider-links > li {
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  margin: 0;
  color: #909193;
  font-weight: 600;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-links > li:hover {
  color: #111729;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0;
  right: 1px;
  margin: 1rem 0;
  padding: 0 2rem;
  background-color: transparent;
  border: none;
  font-size: 2.2rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .Homepage {
    flex-direction: column-reverse;
    gap: 100px;
  }

  .nav,
  .switch-mode {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .primary-text {
    font-size: 4.2rem;
  }

  img {
    width: 100%;
  }
}
